openapi: 3.0.3
info:
  title: Romit Application Identity API
  version: v1
  description: 'Romit was a bank-agnostic wallet and payment-gateway platform for the card-not-present merchant-acquiring industry (chargeback and fraud mitigation, stored payment methods, transfers, subscriptions, invoicing and KYC/identity). The Romit v1 REST API exposed OAuth2-protected resources for Banking (cards + linked bank accounts), Identity (KYC info, documents, social, business), Transfer (auth/capture/refund/void money movement), User, Subscription, Plan and Invoice. NOTE: Romit (romit.io) ceased operations; the production and sandbox hosts are no longer reachable. This specification is a faithful DERIVATION of the surviving unofficial client library (github.com/balmasi/romit-node, 2016) — endpoint paths, HTTP methods, request fields, OAuth2 scopes and error codes are taken verbatim from that source; response schemas were not published and are intentionally left generic.'
  x-apievangelist-method: derived
  x-apievangelist-source: https://github.com/balmasi/romit-node/blob/master/src/index.js
  x-status: defunct
servers:
- url: https://api.romit.io/v1
  description: Production (offline — company defunct)
- url: https://api.sandbox.romit.io/v1
  description: Sandbox (offline — company defunct)
security:
- oauth2: []
tags:
- name: Identity
paths:
  /identity:
    get:
      operationId: listIdentities
      summary: List identities
      tags:
      - Identity
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/Error'
  /identity/info/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getIdentityInfo
      summary: Get identity info
      tags:
      - Identity
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/Error'
  /identity/info:
    post:
      operationId: createIdentityInfo
      summary: Create identity info
      tags:
      - Identity
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                first:
                  type: string
                last:
                  type: string
                addressOne:
                  type: string
                addressTwo:
                  type: string
                city:
                  type: string
                state:
                  type: string
                postal:
                  type: string
                country:
                  type: string
                dob:
                  type: string
                gender:
                  type: string
                type:
                  type: string
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/Error'
  /identity/document/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getIdentityDocument
      summary: Get identity document
      tags:
      - Identity
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/Error'
  /identity/document:
    post:
      operationId: createIdentityDocument
      summary: Upload identity document
      tags:
      - Identity
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: string
                type:
                  type: string
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/Error'
  /identity/social/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getIdentitySocialNetwork
      summary: Get identity social network
      tags:
      - Identity
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/Error'
  /identity/social:
    post:
      operationId: createIdentitySocialNetwork
      summary: Link identity social network
      tags:
      - Identity
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                type:
                  type: string
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/Error'
  /identity/business/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getIdentityBusiness
      summary: Get identity business
      tags:
      - Identity
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/Error'
  /identity/business:
    post:
      operationId: createIdentityBusiness
      summary: Create identity business
      tags:
      - Identity
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ein:
                  type: string
                name:
                  type: string
                addressOne:
                  type: string
                addressTwo:
                  type: string
                city:
                  type: string
                state:
                  type: string
                postal:
                  type: string
                country:
                  type: string
                phone:
                  type: string
                website:
                  type: string
                description:
                  type: string
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/Error'
components:
  responses:
    Error:
      description: Error response. Romit returns one of a fixed set of error codes.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                enum:
                - err.rate_limit_exceeded
                - err.access_denied
                - err.invalid_arguments
                - err.unexpected_error
                - err.fatal_error
  parameters:
    offset:
      name: offset
      in: query
      schema:
        type: integer
      description: Result offset for list endpoints.
    limit:
      name: limit
      in: query
      schema:
        type: integer
      description: Page size for list endpoints.
  securitySchemes:
    oauth2:
      type: oauth2
      description: Romit used OAuth2. User-context flows (authorization_code / refresh_token) authorize a customer against requested scopes; the client_credentials flow issues an application access token. Access tokens are presented as an HTTP Bearer token.
      flows:
        authorizationCode:
          authorizationUrl: https://api.romit.io/v1/oauth
          tokenUrl: https://api.romit.io/v1/oauth/token
          refreshUrl: https://api.romit.io/v1/oauth/token
          scopes:
            DEFAULT: Access to basic information
            BANKING_READ: Read access to Banking
            BANKING_WRITE: Write access to Banking
            IDENTITY_READ: Read access to Identity
            IDENTITY_WRITE: Write access to Identity
            TRANSFER_READ: Read access to Transfer
            TRANSFER_WRITE: Write access to Transfer
            USER_READ: Read access to User
            USER_WRITE: Write access to User
            SUBSCRIPTION_READ: Read access to Subscription
            SUBSCRIPTION_WRITE: Write access to Subscription
            PLAN_READ: Read access to Plan
            PLAN_WRITE: Write access to Plan
            INVOICE_READ: Read access to Invoice
            INVOICE_WRITE: Write access to Invoice
        clientCredentials:
          tokenUrl: https://api.romit.io/v1/oauth/token
          scopes:
            DEFAULT: Access to basic information
