openapi: 3.0.3
info:
  title: Romit API
  version: v1
  description: >-
    Romit was a bank-agnostic wallet and payment-gateway platform for the
    card-not-present merchant-acquiring industry (chargeback and fraud
    mitigation, stored payment methods, transfers, subscriptions, invoicing and
    KYC/identity). The Romit v1 REST API exposed OAuth2-protected resources for
    Banking (cards + linked bank accounts), Identity (KYC info, documents,
    social, business), Transfer (auth/capture/refund/void money movement), User,
    Subscription, Plan and Invoice. NOTE: Romit (romit.io) ceased operations; the
    production and sandbox hosts are no longer reachable. This specification is a
    faithful DERIVATION of the surviving unofficial client library
    (github.com/balmasi/romit-node, 2016) — endpoint paths, HTTP methods, request
    fields, OAuth2 scopes and error codes are taken verbatim from that source;
    response schemas were not published and are intentionally left generic.
  x-apievangelist-method: derived
  x-apievangelist-source: https://github.com/balmasi/romit-node/blob/master/src/index.js
  x-status: defunct
servers:
  - url: https://api.romit.io/v1
    description: Production (offline — company defunct)
  - url: https://api.sandbox.romit.io/v1
    description: Sandbox (offline — company defunct)
tags:
  - name: OAuth
  - name: Application
  - name: Banking
  - name: Identity
  - name: Transfer
  - name: User
  - name: Subscription
  - name: Plan
  - name: Invoice
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: >-
        Romit used OAuth2. User-context flows (authorization_code /
        refresh_token) authorize a customer against requested scopes; the
        client_credentials flow issues an application access token. Access tokens
        are presented as an HTTP Bearer token.
      flows:
        authorizationCode:
          authorizationUrl: https://api.romit.io/v1/oauth
          tokenUrl: https://api.romit.io/v1/oauth/token
          refreshUrl: https://api.romit.io/v1/oauth/token
          scopes:
            DEFAULT: Access to basic information
            BANKING_READ: Read access to Banking
            BANKING_WRITE: Write access to Banking
            IDENTITY_READ: Read access to Identity
            IDENTITY_WRITE: Write access to Identity
            TRANSFER_READ: Read access to Transfer
            TRANSFER_WRITE: Write access to Transfer
            USER_READ: Read access to User
            USER_WRITE: Write access to User
            SUBSCRIPTION_READ: Read access to Subscription
            SUBSCRIPTION_WRITE: Write access to Subscription
            PLAN_READ: Read access to Plan
            PLAN_WRITE: Write access to Plan
            INVOICE_READ: Read access to Invoice
            INVOICE_WRITE: Write access to Invoice
        clientCredentials:
          tokenUrl: https://api.romit.io/v1/oauth/token
          scopes:
            DEFAULT: Access to basic information
  parameters:
    limit:
      name: limit
      in: query
      schema: { type: integer }
      description: Page size for list endpoints.
    offset:
      name: offset
      in: query
      schema: { type: integer }
      description: Result offset for list endpoints.
  responses:
    Error:
      description: Error response. Romit returns one of a fixed set of error codes.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                enum:
                  - err.rate_limit_exceeded
                  - err.access_denied
                  - err.invalid_arguments
                  - err.unexpected_error
                  - err.fatal_error
security:
  - oauth2: []
paths:
  /oauth:
    post:
      operationId: requestUserAuthorization
      summary: Begin user authorization
      description: Start an OAuth2 user-authorization request for the given scopes.
      tags: [OAuth]
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                redirect_uri: { type: string }
                scope: { type: array, items: { type: string } }
                response_type: { type: string, default: code }
                state: { type: string }
                phone: { type: string }
                email: { type: string }
                first: { type: string }
                last: { type: string }
                currency: { type: string, default: USD }
                refresh: { type: string, default: 'true' }
                call: { type: boolean, default: false }
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /oauth/token:
    post:
      operationId: createOAuthToken
      summary: Exchange or refresh an OAuth2 token
      description: >-
        Exchange an authorization code, refresh a token, or obtain a
        client_credentials token depending on grant_type.
      tags: [OAuth]
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                  enum: [authorization_code, refresh_token, client_credentials]
                code: { type: string }
                refresh_token: { type: string }
                redirect_uri: { type: string }
                client_id: { type: string }
                client_secret: { type: string }
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /:
    get:
      operationId: getApplication
      summary: Get application
      tags: [Application]
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /banking:
    get:
      operationId: listBanking
      summary: List banking instruments
      tags: [Banking]
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /banking/card:
    post:
      operationId: createBankingCard
      summary: Add a card
      tags: [Banking]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                label: { type: string }
                name: { type: string }
                number: { type: string }
                month: { type: string }
                year: { type: string }
                cvv: { type: string }
                postal: { type: string }
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /banking/card/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      operationId: getBankingCard
      summary: Get a card
      tags: [Banking]
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
    put:
      operationId: updateBankingCard
      summary: Update a card
      tags: [Banking]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                label: { type: string }
                month: { type: string }
                year: { type: string }
                cvv: { type: string }
                postal: { type: string }
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /banking/card/{id}/disable:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    post:
      operationId: disableBankingCard
      summary: Disable a card
      tags: [Banking]
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /banking/account/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      operationId: getBankingAccount
      summary: Get a linked bank account
      tags: [Banking]
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
    put:
      operationId: updateBankingAccount
      summary: Update a linked bank account
      tags: [Banking]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                label: { type: string }
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /banking/account/link:
    post:
      operationId: linkBankingAccounts
      summary: Link bank accounts
      tags: [Banking]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username: { type: string }
                password: { type: string }
                instituation: { type: string }
                pin: { type: string }
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /banking/account/link/step:
    post:
      operationId: linkMfaBankingAccounts
      summary: Complete a multi-factor bank-link step
      tags: [Banking]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                answer: { type: string }
                selections: { type: array, items: { type: string } }
                code: { type: string }
                sendMethodMask: { type: string }
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /banking/account/{id}/disable:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    put:
      operationId: disableBankingAccount
      summary: Disable a linked bank account
      tags: [Banking]
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /identity:
    get:
      operationId: listIdentities
      summary: List identities
      tags: [Identity]
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /identity/info/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      operationId: getIdentityInfo
      summary: Get identity info
      tags: [Identity]
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /identity/info:
    post:
      operationId: createIdentityInfo
      summary: Create identity info
      tags: [Identity]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                first: { type: string }
                last: { type: string }
                addressOne: { type: string }
                addressTwo: { type: string }
                city: { type: string }
                state: { type: string }
                postal: { type: string }
                country: { type: string }
                dob: { type: string }
                gender: { type: string }
                type: { type: string }
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /identity/document/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      operationId: getIdentityDocument
      summary: Get identity document
      tags: [Identity]
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /identity/document:
    post:
      operationId: createIdentityDocument
      summary: Upload identity document
      tags: [Identity]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                file: { type: string }
                type: { type: string }
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /identity/social/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      operationId: getIdentitySocialNetwork
      summary: Get identity social network
      tags: [Identity]
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /identity/social:
    post:
      operationId: createIdentitySocialNetwork
      summary: Link identity social network
      tags: [Identity]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                token: { type: string }
                type: { type: string }
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /identity/business/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      operationId: getIdentityBusiness
      summary: Get identity business
      tags: [Identity]
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /identity/business:
    post:
      operationId: createIdentityBusiness
      summary: Create identity business
      tags: [Identity]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ein: { type: string }
                name: { type: string }
                addressOne: { type: string }
                addressTwo: { type: string }
                city: { type: string }
                state: { type: string }
                postal: { type: string }
                country: { type: string }
                phone: { type: string }
                website: { type: string }
                description: { type: string }
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /transfer:
    get:
      operationId: listTransfers
      summary: List transfers
      tags: [Transfer]
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
    post:
      operationId: createTransfer
      summary: Create a transfer
      tags: [Transfer]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount: { type: number }
                phone: { type: string }
                userId: { type: string }
                bankingId: { type: string }
                invoiceId: { type: string }
                memo: { type: string }
                mode: { type: string }
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /transfer/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      operationId: getTransfer
      summary: Get a transfer
      tags: [Transfer]
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /transfer/{id}/capture:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    post:
      operationId: captureTransfer
      summary: Capture a transfer
      tags: [Transfer]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount: { type: number }
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /transfer/{id}/refund:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    post:
      operationId: refundTransfer
      summary: Refund a transfer
      tags: [Transfer]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount: { type: number }
                memo: { type: string }
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /transfer/{id}/void:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    post:
      operationId: voidTransfer
      summary: Void a transfer
      tags: [Transfer]
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /user:
    get:
      operationId: getUser
      summary: Get the authenticated user
      tags: [User]
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /user/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      operationId: getPublicUser
      summary: Get a public user
      tags: [User]
      parameters:
        - name: userId
          in: query
          schema: { type: string }
        - name: phoneE164
          in: query
          schema: { type: string }
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /subscription:
    get:
      operationId: listSubscription
      summary: List subscriptions
      tags: [Subscription]
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
    post:
      operationId: createSubscription
      summary: Create a subscription
      tags: [Subscription]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                bankingId: { type: string }
                planId: { type: string }
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /subscription/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      operationId: getSubscription
      summary: Get a subscription
      tags: [Subscription]
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
    put:
      operationId: updateSubscription
      summary: Update a subscription
      tags: [Subscription]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                bankingId: { type: string }
                planId: { type: string }
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /subscription/{id}/cancel:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    post:
      operationId: cancelSubscription
      summary: Cancel a subscription
      tags: [Subscription]
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /plan:
    get:
      operationId: listPlan
      summary: List plans
      tags: [Plan]
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
    post:
      operationId: createPlan
      summary: Create a plan
      tags: [Plan]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                amount: { type: number }
                interval: { type: string }
                cycles: { type: integer }
                memo: { type: string }
                callback: { type: string }
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /plan/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      operationId: getPlan
      summary: Get a plan
      tags: [Plan]
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
    put:
      operationId: updatePlan
      summary: Update a plan
      tags: [Plan]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                memo: { type: string }
                callback: { type: string }
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /plan/{id}/disable:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    post:
      operationId: disablePlan
      summary: Disable a plan
      tags: [Plan]
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /invoice:
    get:
      operationId: listInvoice
      summary: List invoices
      tags: [Invoice]
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
    post:
      operationId: createInvoice
      summary: Create an invoice
      tags: [Invoice]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                description: { type: string }
                amount: { type: number }
                invoiceDate: { type: string }
                dueDate: { type: string }
                reference: { type: string }
                note: { type: string }
                memo: { type: string }
                terms: { type: string }
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /invoice/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      operationId: getInvoice
      summary: Get an invoice
      tags: [Invoice]
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
    put:
      operationId: updateInvoice
      summary: Update an invoice
      tags: [Invoice]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reference: { type: string }
                memo: { type: string }
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
  /invoice/{id}/cancel:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    post:
      operationId: cancelInvoice
      summary: Cancel an invoice
      tags: [Invoice]
      responses:
        '200': { description: OK }
        default: { $ref: '#/components/responses/Error' }
